<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Traffic Management</title>
    <link href="/Content/main.css" rel="stylesheet">
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/bootstrap.yeti.min.css" rel="stylesheet" />
</head>
<body ng-app="app">

    <div ng-view>

        <nav class="navbar navbar-default">
            <div class="container-fluid" style="background-color:dodgerblue">
                <div>
                    <p class="navbar-brand navbar-left">Traffic Management</p>
                </div>
            </div>
        </nav>

        <form ng-controller="ctrlDocumentType as ctrl">
            <fieldset class="col-lg-10 col-lg-offset-1">
                <div class="container" style="width:90%; padding:30px; background-color: lightblue">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 control-label">
                                <strong>Изберете почетна дестинација:</strong>
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control" id="documentTypeInput"
                                        ng-model="ctrl.selectedIdStart"
                                        ng-options="option.Id_Start for option in ctrl.routeStarts track by option.Id_Start"
                                       >
                                    <!--<option value="{{option.Id_Start}}">{{option.Id_Start}}</option>-->
                                    <option value="{{option.Id_Start}}">{{option.Id_Start}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label">
                                <strong>Изберете крајна дестинација:</strong>
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control" id="documentTypeInput"
                                        ng-model="ctrl.selectedIdEnd"
                                        ng-options="option.Id_End for option in ctrl.routeEnds track by option.Id_End"
                                        >
                                    <option value="{{option.Id_End}}">{{option.Id_End}}</option>
                                    <option></option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="float:left; padding:30px 100px; text-align:center;">
                        <!--<div style="margin:70px 100px 50px 50px">-->
                            <button type="button" style="width: 100px;"  class="btn btn-success" ng-click="ctrl.calculateRoute(ctrl.selectedIdStart.Id_Start,ctrl.selectedIdEnd.Id_End)">Пресметај</button>
                       <!-- </div> -->
                    </div>
                    <div class="col-md-8" style="width:100%; float:left;">
                        <p style="width:100%; text-align:center;">Најприкладна рута е: {{ctrl.route.Name}} со почеток во точка {{ctrl.route.Id_Start}} и крај во точка {{ctrl.route.Id_End}} </p>
                       
                        <img src="tm.png" style="width:100%; margin:0 auto;">
                    </div>
                </div>
            </fieldset>
        </form>
       


       
    </div>


    <!--external libraries-->
    <script src="scripts/angular/angular.min.js"></script>
    <script src="scripts/angular/angular-route.min.js"></script>
    <script src="scripts/jQuery/jquery-3.1.0.min.js"></script>
    <script src="scripts/angular/angular-animate.min.js"></script>
    <script src="scripts/angular/angular-sanitize.min.js"></script>
    <script src="scripts/angular/angular-translate.min.js"></script>
    <script src="Scripts/angular/smart-table.min.js"></script>
    <script src="Scripts/angular/angular-cookies.min.js"></script>
    <script src="scripts/bootstrap/bootstrap.min.js"></script>
    <script src="scripts/angular/angular-image-compress.js"></script>
    <!--modules-->
    <script src="app/app.module.js"></script>
    <script src="app/shared/shared.module.js"></script>
    <!--services-->
    <script src="app/shared/repository.service.js"></script>
    <script src="app/shared/web.service.js"></script>
    <script src="app/shared/app.config.js"></script>
    <!--controllers-->
    <script src="app/controllers/test.controller.js"></script>
    <script src="app/controllers/ctrlDocumentType.js"></script>
    <!--jQuery-->
    <script>
        $(document).on('click', '.navbar-collapse.in', function (e) {
            if ($(e.target).is('a')) {
                $(this).collapse('hide');
            }
        });
    </script>

</body>
</html>
